*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.loader{
    display: flex;
    justify-content: space-evenly;
    padding: 0 20px;
}
.loading{
    background-color: rgb(236, 49, 121);
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin: 0 10px;
    animation: Load 0.8s ease infinite;
}
.one{
    animation-delay: 0.3s;
}
.two{
    animation-delay: 0.4s;
}
.three{
    animation-delay: 0.5;
}

@keyframes Load{
0%{
    width: 30px;
    height: 30px;
}
50%{
    width: 20px;
    height: 20px;
}
}